/******************************************
/* CSS
/*******************************************/

:root {
  --main-text-color: rgb(255, 255, 255);

  --text-span-color: rgb(185, 185, 179);
}

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
  /* LAYOUT
  /*******************************************/
html {
  height: 100vh;
}

body {
  height: 100%;
  background-color: hsl(226, 43%, 10%);
  display: flex;
  justify-content: center;
  align-items: center;
}

body h1,
h2 {
  color: var(--main-text-color);
}
body span {
  color: var(--text-span-color);
}
main {
  display: flex;

  justify-content: center;
  width: 50%;
  margin: 0 auto;
}

.widget {
  margin-right: 1rem;
  border: 1px solid burlywood;

  border-radius: 1rem;
  overflow: hidden;
}
.widget img {
  max-width: 30%;
  border: 2px solid white;

  border-radius: 5rem;
}

.profile-wrap {
  background: hsl(264, 64%, 52%);
  min-height: 68%;
}

.daily-wrap {
  background: hsl(235, 46%, 20%);
  display: flex;

  flex-direction: column;

  min-height: 32%;
}

.workout-text {
  color: var(--main-text-color);

  font-weight: bolder;
}

.container {
  display: flex;

  flex-wrap: wrap;

  max-width: 50%;
  border: 1px solid blanchedalmond;
}

.widget-card {
  border: 1px solid blanchedalmond;
  padding: 1rem;

  margin: 1rem;

  max-width: 25%;
}
/******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
