/******************************************
/* CSS
/*******************************************/

:root {
  --main-text-color: rgb(255, 255, 255);

  --widget-background-color: hsl(235, 46%, 20%);
  --text-span-color: rgb(185, 185, 179);
}

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
  /* LAYOUT
  /*******************************************/
html {
  height: 100vh;
}

body {
  height: 100%;
  background-color: hsl(226, 43%, 10%);
  display: flex;
  justify-content: center;
  align-items: center;
}

body h1,
h2 {
  color: var(--main-text-color);
}
body span {
  color: var(--text-span-color);
}

main {
  display: flex;

  justify-content: center;
  width: 50%;
  margin: 0 auto;
}

.widget {
  margin-right: 1rem;
  border: 1px solid burlywood;

  border-radius: 1rem;
  overflow: hidden;
  min-height: 500px;
}
.widget img {
  max-width: 30%;
  border: 2px solid white;

  border-radius: 5rem;
}

.profile-wrap {
  background: hsl(264, 64%, 52%);
  min-height: 68%;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.profile-image-wrap > img {
  margin: 1rem;
  margin-top: 1.8rem;

  margin-left: 1.8rem;
}

.profile-user-info {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  gap: 0.5rem;
}

.profile-user-info > span {
  margin-top: 1.5rem;
}

.profile-user-info h1 {
  margin: 0;
}

.profile-user-info > h1,
span {
  margin-left: 1.8rem;
}

.daily-wrap {
  background: var(--widget-background-color);
  display: flex;

  justify-content: center;
  gap: 1rem;
  flex-direction: column;

  min-height: 32%;
}

.workout-text {
  color: var(--main-text-color);

  font-weight: bolder;
}

.container {
  display: flex;

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  max-width: 68%;
  border: 1px solid blanchedalmond;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.widget-top,
.widget-bottom {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.box {
  width: 100px;
  height: 100px;
  border: 1px solid greenyellow;
}

.top {
  background-image: url("../images/icon-ellipsis.svg");
}
/* .widget-card {
  border: 1px solid blanchedalmond;
  padding: 1rem;

  max-width: 25%;
}
/******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
